<section class="container">
  <img
    style="margin-top: 60px"
    src="assets/img/presentation_1/слайд великий 18.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 20.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 31.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 30.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 0.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 15.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 19.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 21.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 22.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 23.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 26.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 24.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 27.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 28.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 32.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 29.png"
    alt="Скачати в pdf"
    class="square-img"
  />

  <div class="flex flex-col w-full gap-4 p-4 items-center">
    <a class="outline-button" href="https://www.instagram.com/margo.oho"
      >Забронювати місце на ретриті
    </a>
  </div>
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 25.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 13.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 35.png"
    alt="Скачати в pdf"
    class="square-img"
  />

  <div class="flex flex-col w-full gap-4 p-4">
    <a
      class="outline-button"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdQaIo56XmYA9TYpnYBWNDig2pSRyTOhj9LAzgMdbHx0IjhlQ/viewform?usp=header"
      >Отримати знижку 50% на любу послугу</a
    >

    <a class="outline-button" href="https://t.me/viktorie_honc"
      >Відкрити телеграм канал</a
    >
  </div>
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 36.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container">
  <img
    loading="lazy"
    src="assets/img/presentation_1/слайд великий 37.png"
    alt="Скачати в pdf"
    class="square-img"
  />
</section>

<section class="container p-8">
  <section class="mt-12 flex justify-center gap-6">
    <!-- Instagram -->
    <a
      href="https://instagram.com/viktorika7"
      target="_blank"
      rel="noopener noreferrer"
      class="w-12 h-12 flex items-center justify-center rounded-full bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-400 shadow-lg hover:scale-110 transform transition"
      aria-label="Instagram"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-white"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2.163c3.204 0 3.584.012 4.849.07 1.366.062 2.633.34 3.608 1.316.975.975 1.254 2.242 1.316 3.608.058 1.265.069 1.645.069 4.849s-.012 3.584-.07 4.849c-.062 1.366-.34 2.633-1.316 3.608-.975.975-2.242 1.254-3.608 1.316-1.265.058-1.645.069-4.849.069s-3.584-.012-4.849-.07c-1.366-.062-2.633-.34-3.608-1.316-.975-.975-1.254-2.242-1.316-3.608C2.175 15.584 2.163 15.204 2.163 12s.012-3.584.07-4.849c.062-1.366.34-2.633 1.316-3.608C4.524 2.503 5.791 2.224 7.157 2.163 8.422 2.105 8.802 2.163 12 2.163zm0-2.163C8.756 0 8.333.012 7.052.07 5.771.127 4.63.386 3.678 1.338c-.952.952-1.211 2.093-1.268 3.374C2.012 6.667 2 7.089 2 12c0 4.911.012 5.333.07 6.614.057 1.281.316 2.422 1.268 3.374.952.952 2.093 1.211 3.374 1.268 1.281.058 1.703.07 6.614.07s5.333-.012 6.614-.07c1.281-.057 2.422-.316 3.374-1.268.952-.952 1.211-2.093 1.268-3.374.058-1.281.07-1.703.07-6.614s-.012-5.333-.07-6.614c-.057-1.281-.316-2.422-1.268-3.374-.952-.952-2.093-1.211-3.374-1.268C17.333.012 16.911 0 12 0z"
        />
        <path
          d="M12 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zm0 10.162a3.999 3.999 0 1 1 0-7.998 3.999 3.999 0 0 1 0 7.998z"
        />
        <circle cx="18.406" cy="5.594" r="1.44" />
      </svg>
    </a>

    <!-- Telegram -->
    <a
      href="https://t.me/viktorie_honc"
      target="_blank"
      rel="noopener noreferrer"
      class="w-12 h-12 flex items-center justify-center rounded-full bg-blue-500 shadow-lg hover:scale-110 transform transition"
      aria-label="Telegram"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-white"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 0C5.373 0 0 5.373 0 12c0 6.627 5.373 12 12 12s12-5.373 12-12c0-6.627-5.373-12-12-12zm5.725 7.029l-1.938 9.18c-.145.622-.523.775-1.06.484l-2.936-2.162-1.415 1.363c-.156.156-.287.287-.588.287l.211-3.005 5.475-4.94c.238-.211-.052-.328-.368-.117l-6.767 4.26-2.913-.91c-.632-.196-.644-.632.132-.93l11.394-4.39c.525-.192.985.127.81.923z"
        />
      </svg>
    </a>
  </section>
</section>
