<section class="matrix-section container darker">
  <div class="wrapper wrapper__grid">
    <div class="about-text col-span-1">
      <h2>Що таке гра «Істина»?</h2>

      <p>
        <strong>«Істина»</strong> — це трансформаційна гра, створена на основі
        системи <strong>Сюцай</strong>, що допомагає побачити себе з боку,
        усвідомити свої установки, переконання й сценарії поведінки, які
        впливають на вибір і результати в житті.
      </p>

      <a class="primary-button mt-5" routerLink="/istina">
        Дізнатися більше про гру <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
    <div class="matrix-photo col-span-1">
      <img src="assets/img/istina-game.jpg" alt="Гра Істина" class="photo" />
    </div>
  </div>
</section>
