<section class="matrix-section container darker">
  <div class="wrapper wrapper__grid">
    <div class="about-text col-span-1">
      <h2>Що таке гра «Істина»?</h2>

      <ul class="list-disc pl-6 space-y-4">
        <li>
          <strong>«Істина»</strong> — це трансформаційна гра, створена на основі
          системи <strong>Сюцай</strong>, що допомагає побачити себе з боку,
          усвідомити свої установки, переконання й сценарії поведінки, які
          впливають на вибір і результати в житті.
        </li>
        <li>
          Гра відкриває глибинне розуміння вашої природи через
          <strong>цифровий код дати народження</strong> — енергії, з якими ви
          прийшли у світ. Вона допомагає побачити, де ви живете “не своїм
          шляхом”, і як повернутися до внутрішньої істини.
        </li>
        <li>
          У процесі гри ви отримуєте <strong>усвідомлення, відповіді та
          підказки</strong> щодо поточних життєвих ситуацій, стосунків і
          рішень. Це не просто гра — це шлях до гармонії, прийняття себе та
          розкриття власного потенціалу.
        </li>
      </ul>

      <a class="primary-button mt-5" routerLink="/istina">
        Дізнатися більше про гру <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
    <div class="matrix-photo col-span-1">
      <img
        src="assets/img/istina-game.jpg"
        alt="Гра Істина"
        class="photo"
      />
    </div>
  </div>
</section>
