<div class="energy-accordion max-w-3xl mx-auto">
  <h2 class="text-center text-xl font-semibold mb-4">
    Характеристика енергій днів і місяців
  </h2>

  <mat-accordion multi="true" class="border rounded-lg shadow-sm">
    <mat-expansion-panel *ngFor="let item of energies">
      <mat-expansion-panel-header>
        <mat-panel-title>
         <div class="flex p-2"> {{ item.number }}. {{ item.title }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="p-4">
        <p><strong>Позитивні прояви:</strong> {{ item.positive }}</p>
        <p class="mt-2"><strong>Негативні прояви:</strong> {{ item.negative }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
