<section class="container">
  <h2 class="w-full text-center pt-20">Про мене</h2>

  <section class="w-full flex justify-center">
    <iframe
      width="390"
      height="315"
      src="https://www.youtube.com/embed/DWzGw2jTUFI?si=u6G-k4WsfsC5opSl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </section>

  <div class="wrapper wrapper__grid">
    <div class="about-photo">
      <img src="assets/img/img_2.jpg" class="photo" alt="Viktorie Honč" />
    </div>

    <div class="about-text">
      <h3>Я - ВІКТОРІЯ ГОНЧ</h3>
      <div class="flex w-fit m-auto md:m-0 mb-5">
        <ul class="regalies flex flex-wrap">
          <li>— МАЙСТЕР СЮЦАЙ</li>
          <li>— ЕКСПЕРТ З МАТРИЦІ ДОЛІ</li>
          <li>— ЕКСПЕРТ З ПСИХОСОМАТИКИ</li>
          <li>— АТМОЛОГ</li>
          <li>— АТМА ХІЛЕР</li>
          <li>— ТЕТА ХІЛЕР</li>
        </ul>
      </div>

      <ul>
        <li>
          Я займаюся наукою Сюцай, допомагаючи людям краще зрозуміти себе та
          знайти гармонію у житті через вивчення своїх чисел. Зрозуміти своє
          призначення, значення свого імені і вирахувати зороші і погані дати на
          наступний рік.
        </li>
        <li>
          Ще однією з моїх практик є робота з “матрицею долі”, де я допомагаю
          людям знайти їх життєве призначення, а також аксес-бари, що дозволяють
          очистити розум і тіло від накопиченого стресу та негативу.
        </li>

        <li>
          Окрім цього, я веду трансформаційну гру “9 світів”, яка допомагає
          учасникам відкрити нові горизонти свідомості та подолати внутрішні
          перешкоди на шляху до своїх цілей. Записуйся на особисту консультацiю
          в директ
        </li>
      </ul>
    </div>
  </div>
</section>

<app-my-all-services />

<app-contacts />
