// @import '../../../shared/scss/variables.scss';

.sticky-panel {
  position: fixed;
  left: 0;
  width: 100%;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;
  transform: translate(0%, 0%);

  top: 70px;

  @media (max-width: 960px) {
    top: 50px;
  }
}

.hidden {
  transform: translate(0%, -100%);
}
