@import 'variables';

.photo {
  max-width: 600px;
  object-fit: cover;
  border-radius: 0.5rem;
  mix-blend-mode: multiply;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;

  @media (max-width: $media-tablet) {
    height: 300px;
  }
}


.succes-box {
  width: 100%;
  padding: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #51b951;

  img {
    width: 100px;
    height: 100px;
  }
}
