@import 'variables';

section {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 60px;

  .dark & {
    background-color: #4F4557;
  }

  &.darker {
    background-color: $secondary-color;
    border-radius: 8px;

    .dark & {
      background-color: #27374D;
    }
  }

  @media (max-width: $media-tablet) {
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

.wrapper {
  padding: 32px 16px;

  @media (max-width: $media-tablet) {
    padding: 16px 8px;
  }

  &__grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    min-height: 70vh;
    margin: 5vh 0;

    @media (max-width: $media-tablet) {
      grid-template-columns: 1fr;
      max-height: fit-content;
      margin: 0;
      padding: 16px 8px;
      height: max-content;
    }

    .darker & {
      padding: 32px;

      @media (max-width: $media-tablet) {
        padding: 16px 8px;
      }
    }
  }
}


.box {
  // width: 100%;
  padding: 12px;
  margin: 4px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: $box-shadow;
  font-size: 14px;
}

.screen-dvh {
  // height: 90dvh;

  @media (max-width: $media-tablet) {
    height: auto;
  }
}

.no-scroll {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matrix-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.matrix-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 12px;

  img {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: $media-tablet) {
    img {
      width: auto;
      height: 300px;
      object-fit: cover;
    }
  }
}


.regalies {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    width: max-content;
  }
}


ul {

  &.regalies {
    list-style-type: none;
  }
}
