<ul class="flex justify-center items-center gap-3">
  <li>
    <a
      href="https://t.me/viktorika7"
      target="_blank"
      class="link-button flex items-center text-gray-600 hover:text-blue-500"
    >
      <i class="fab fa-telegram-plane text-xl"></i>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/viktorika7/"
      target="_blank"
      class="link-button flex items-center text-gray-600 hover:text-pink-500"
    >
      <i class="fab fa-instagram text-xl"></i>
    </a>
  </li>
  <li>
    <a
      href="mailto:admin@viktoriehonc.com.ua"
      class="link-button flex items-center text-gray-600 hover:text-pink-500"
    >
      <i class="fas fa-envelope text-xl"></i>
    </a>
  </li>

  <li>
    <a
      href="https://wa.me/420777557089"
      class="link-button flex items-center text-gray-600 hover:text-green-500"
      target="_blank"
    >
      <i class="fab fa-whatsapp text-xl"></i>
    </a>
  </li>

  <li>
    <a
      href="viber://chat?number=%2B420777557089"
      class="link-button flex items-center text-gray-600 hover:text-green-500"
      target="_blank"
    >
      <i class="fab fa-viber text-xl"></i>
    </a>
  </li>
</ul>
