.wrapper__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  height: 70vh;
  margin: 0;

  @media (max-width: 832px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  @media (min-width: 832px) {
    &.reverse-layout {
      grid-template-areas: "text image";
      /* Текст зліва, зображення справа */
    }

    &:not(.reverse-layout) {
      grid-template-areas: "image text";
      /* Зображення зліва, текст справа */
    }
  }
}

.about-text {
  grid-area: text;
  padding: 1rem;
}

.carousel-image {
  width: 100%;
  max-width: 600px;
  max-height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  mix-blend-mode: multiply;
}
