<section
  class="hero-section bg-cover bg-center relative flex flex-col md:flex-row"
>
  <div class="left-column flex items-center justify-center">
    <img width="20px" src="assets/logo.svg" alt="Фото" class="logo" />
  </div>

  <div
    class="right-column flex-col justify-center p-8 bg-cover bg-no-repeat hidden md:flex"
    style="background-image: url('assets/img/img_1.jpg')"
  ></div>

  <div class="flex flex-col gap-4 to-matrix justify-center items-center" >
    <a class="primary-button w-full" href="/home#про-матрицю-долі">
      Розрахувати матрицю <b><i class="fas fa-chevron-down"></i></b>
    </a>
    <a class="primary-button w-full" href="/home#запланувати-зустріч">
      Записатись на консультацію <b><i class="fas fa-calendar-days"></i></b>
    </a>
  </div>
</section>


