<section class="container">
  <h2>Відкрити презентацію</h2>
  <button class="primary-button mt-5" routerLink="/presentation"> відкрити </button>
</section>

<section class="container">
  <h2 class="w-full md:hidden block">Про Календар Сюцай</h2>

  <div class="wrapper pr-2">
    <!-- Фото -->
    <div class="about-photo">
      <img src="assets/img/calendar/1.jpg" alt="Календар Сюцай" />
    </div>

    <!-- Текст -->
    <div class="about-text">
      <h2 class="w-full hidden md:block">Про Календар Сюцай</h2>
      <h3>Персональний річний календар</h3>

      <div class="flex m-auto md:m-0 mb-5 w-[90%]">
        <ul class="regalies w-[90%]">
          <li class="regalies w-[90%]">
            — Показує сприятливі й небезпечні періоди
          </li>
          <li class="regalies w-[90%]">
            — Допомагає планувати бізнес і фінанси
          </li>
          <li class="regalies w-[90%]">
            — Гармонізує щоденну рутину та прийняття рішень
          </li>
          <li class="regalies w-[90%]">
            — Побудований на системі Сюцай та персональних числах
          </li>
        </ul>
      </div>

      <p class="text-gray-700 leading-relaxed mb-5">
        Календар Сюцай створений, щоб підтримати вас у досягненні цілей,
        зберегти енергію в непрості періоди та використати найбільш сприятливі
        дні для важливих справ. Це ваш персональний помічник протягом усього
        року.
      </p>

      <a class="primary-button mt-5" routerLink="/about-year-calendar">
        Детальніше про календар <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section>
