<section class="container">
  <h2 class="w-full md:hidden block">Про Календар Сюцай</h2>

  <div class="wrapper pr-2">
    <!-- Фото -->
    <div class="about-photo">
      <img class="h-[320px] md:h-[260px]"  [src]="'assets/img/calendar/info/1.png'" alt="Календар Сюцай" />
    </div>

    <!-- Текст -->
    <div class="about-text">
      <h2 class="w-full hidden md:block">Про Календар Сюцай</h2>

      <p class="text-gray-700 leading-relaxed mb-5">
        Календар Сюцай створений, щоб підтримати вас у досягненні цілей,
        зберегти енергію в непрості періоди та використати найбільш сприятливі
        дні для важливих справ. Це ваш персональний помічник протягом усього
        року.
      </p>

      <a class="primary-button mt-5" routerLink="/about-year-calendar">
        Детальніше про календар <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section>
