<section class="container">
  <div class="about-wrapper">
    <h2 class="w-full">Про мене</h2>
    <div class="about-container grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="about-photo">
        <img
          src="./img/img_1.jpg"
          alt="Viktorie Honč"
          style="
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          "
        />
      </div>
      <div
        class="about-text"
        style="
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <h3>ВІКТОРІЯ ГОНЧ</h3>
        <p>ТЕТА ХІЛЕР | НУМЕРОЛОГ | Блогер</p>
        <ul
          style="
            margin-top: 1rem;
            padding-left: 1.5rem;
            list-style-type: disc;
            color: #4a4a4a;
          "
        >
          <li>
            Я займаюся нумерологією, допомагаючи людям краще зрозуміти себе та
            знайти гармонію у житті через вивчення чисел. Також я практикую
            тета-хілінг, що дозволяє мені допомагати іншим звільнятися від
            обмежень і відкривати свій внутрішній потенціал.
          </li>
          <li>
            Ще однією з моїх практик є робота з “матрицею долі”, де я допомагаю
            людям знайти їх життєве призначення, а також аксес-бари, що
            дозволяють очистити розум і тіло від накопиченого стресу та
            негативу.
          </li>

          <li>
            Окрім цього, я веду трансформаційну гру “9 світів”, яка допомагає
            учасникам відкрити нові горизонти свідомості та подолати внутрішні
            перешкоди на шляху до своїх цілей. Записуйся на особисту
            консультацiю в директ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
