.about-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
  }
}
