<section class="container">
  <h2 class="w-full md:hidden block">Про мене</h2>

  <div class="wrapper wrapper__grid">
    <div class="about-photo">
      <img src="assets/img/img_2.jpg"
      style="
      /* width: 100%; */
      max-width: 600px;
      max-height: 600px;
      object-position: bottom;
      object-fit: cover;
      border-radius: 0.5rem;
      mix-blend-mode: multiply;
    "
      alt="Viktorie Honč" />
    </div>

    <div class="about-text">
      <h2 class="w-full hidden md:block">Про мене</h2>
      <h3>Я - ВІКТОРІЯ ГОНЧ</h3>
      <div class="flex w-fit m-auto md:m-0 mb-5">
        <ul class="regalies">
          <li>— МАЙСТЕР СЮЦАЙ</li>
          <li>— ВЕДУЧА ТРАНСФОРМАЦІЙНИХ ІГРО</li>
          <li>— КОУЧ \ НАСТАВНИК</li>
        </ul>
      </div>

      <a class="primary-button mt-5" routerLink="/me">
        Більше про мене <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section>


<!-- <section class="container">
  <h2 class="w-full md:hidden block">Корисні посилання для презентації CashFlow</h2>

  <div class="wrapper wrapper__grid">

    <div class="about-text">
      <h2 class="w-full hidden md:block">Корисні посилання для презентації CashFlow</h2>

      <a class="primary-button mt-5" href="https://t.me/+lTOQ4ptJo1E5YTcy">
        <i class="fab fa-telegram-plane text-xl"></i> телеграм канал <b><i class="fas fa-arrow-right"></i></b>
      </a>

      <a class="primary-button mt-5" href="https://docs.google.com/presentation/d/1W7DGDfoaQ02I4OBjjNN9_A3FoC_K1WbnfnGY_KuHqtk/edit?slide=id.g347e8553c0e_0_224">
        Презентація CASHFLOW <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section> -->
