<section class="container min-h-[100vh] pt-24">
  <h2 class="text-center">Гра 9 Світів</h2>

  <!-- Секція 1: Вступ -->
  <section>
    <app-section-grid
      [images]="[{ src: 'assets/img/nine-worlds/1.jpg', alt: 'Записатись на гру 9 світів' }]"
      textPosition="left"
    >
      <div class="flex flex-col gap-10">
        <h3>Трансформаційна нумерологічна гра «9 Світів»</h3>
        <p>
          Це спосіб отримати відповідь на свій запит через власну дату народження та можливості протестувати у грі шлях реалізації своєї цілі.
        </p>
        <button
          class="active-button small"
          (click)="openModal('Я хочу записатись на гру 9 Світів')"
        >
          Записатись на гру
        </button>
      </div>
    </app-section-grid>
  </section>

  <!-- Секція 2: Глибоке самопізнання -->
  <section>
    <app-section-grid
      [images]="[{ src: 'assets/img/nine-worlds/2.jpg', alt: '9 світів Ліберець' }]"
      textPosition="right"
    >
      <div class="flex flex-col gap-10">
        <h4>Гра «9 Світів» — інструмент глибокого самопізнання</h4>
        <p>
          Вона допомагає діагностувати власний стан, моделі поведінки, родові програми та напрямок руху. Гра дозволяє побачити, що саме заважає вже сьогодні мати бажане.
        </p>
      </div>
    </app-section-grid>
  </section>

  <!-- Секція 3: Основи гри -->
  <section>
    <app-section-grid
      [images]="[{ src: 'assets/img/nine-worlds/3.jpg', alt: 'Гра 9 світів' }]"
      textPosition="left"
    >
      <div class="flex flex-col gap-10">
        <h3>На чому базується гра?</h3>
        <p>
          Гра побудована на комплексі сакральних нумерологічних напрямків, таропсихології та трансформаційному коучингу.
        </p>
      </div>
    </app-section-grid>
  </section>

  <!-- Секція 4: Універсальність гри -->
  <section>
    <app-section-grid
      [images]="[{ src: 'assets/img/nine-worlds/4.jpg', alt: 'Трансформаційні ігри' }]"
      textPosition="right"
    >
      <div class="flex flex-col gap-10">
        <h3>«9 Світів» — універсальний інструмент</h3>
        <p>
          Гра допомагає знайти відповіді на запити у будь-якій сфері життя, надаючи глибоке розуміння ситуації та напрямок подальшого розвитку.
        </p>
      </div>
    </app-section-grid>
  </section>

  <app-reviews />

  <app-my-all-services />

  <app-contacts />
</section>
