<!-- Попап -->
<div
  *ngIf="isVisible"
  class="popup fixed bottom-6 right-6 z-50 w-80 bg-white rounded-xl shadow-2xl p-5 animate-slide-up"
>
  <button
    (click)="closePopup()"
    class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 transition"
    aria-label="Закрити"
  >
    ✕
  </button>

  <div class="flex items-start space-x-3">
    <div class="flex-shrink-0 text-4xl">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-[#26663b] inline-block"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1
           0-2 .9-2 2v14c0 1.1.9 2
           2 2h14c1.1 0 2-.9
           2-2V6c0-1.1-.9-2-2-2zm0
           16H5V9h14v11zm0-13H5V6h14v1z"
        />
      </svg>
    </div>
    <div>
      <h3 class="text-xl font-semibold text-gray-900 mb-2">Новинка!</h3>
      <p class="text-gray-700 mb-4 text-sm">
        На сайті з’явився Персональний календар Сюцай.<br />
        Зараз ви можете отримати його
        <span class="text-green-600 font-semibold">безкоштовно</span>.
      </p>
      <a
        routerLink="/about-year-calendar"
        (click)="closePopup()"
        class="primary-button"
      >
        Дізнатися більше
      </a>
    </div>
  </div>
</div>

<!-- Кнопка-іконка (з'являється коли попап закритий) -->
<button
  *ngIf="!isVisible"
  (click)="openPopup()"
  class="fixed bottom-40 right-6 z-50 w-12 h-12 flex items-center justify-center rounded-full bg-white shadow-lgtransition"
  aria-label="Відкрити попап"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 text-[#26663b]"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1
       0-2 .9-2 2v14c0 1.1.9 2
       2 2h14c1.1 0 2-.9
       2-2V6c0-1.1-.9-2-2-2zm0
       16H5V9h14v11zm0-13H5V6h14v1z"
    />
  </svg>
</button>
