<div
  class="modal-wrapper"
  [class.active]="isModalOpen"
  (click)="onBackdropClick($event)"
>
  <div class="modal box">
    <div class="modal-content">
      <div class="modal-header">
        @if(title) {
        <h3>{{ title }}</h3>
        }

        <ul class="flex justify-center items-center gap-3">
          <li>
            <a
              href="https://t.me/viktorika7"
              target="_blank"
              class="link-button flex items-center text-gray-600 hover:text-blue-500"
            >
              <i class="fab fa-telegram-plane text-xl"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/viktorika7/"
              target="_blank"
              class="link-button flex items-center text-gray-600 hover:text-pink-500"
            >
              <i class="fab fa-instagram text-xl"></i>
            </a>
          </li>
          <li>
            <a
              href="mailto:admin@viktoriehonc.com.ua"
              class="link-button flex items-center text-gray-600 hover:text-pink-500"
            >
              <i class="fas fa-envelope text-xl"></i>
            </a>
          </li>

          <li>
            <a
              href="https://wa.me/420777557089"
              class="link-button flex items-center text-gray-600 hover:text-green-500"
              target="_blank"
            >
              <i class="fab fa-whatsapp text-xl"></i>
            </a>
          </li>

          <li>
            <a
              href="viber://chat?number=%2B420777557089"
              class="link-button flex items-center text-gray-600 hover:text-green-500"
              target="_blank"
            >
              <i class="fab fa-viber text-xl"></i>
            </a>
          </li>

        </ul>

        <button class="close-button" (click)="closeModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="modal-content">
        <app-contact-form />
      </div>
    </div>
  </div>
</div>
