<div class="wrapper wrapper__grid my-services">
  <div class="about-text">
    <mat-accordion class="custom-accordion">
      <mat-expansion-panel
        *ngFor="let service of services"
        class="custom-panel"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>{{ service.title }}</h5>
            <strong>{{ service.price }}</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="flex flex-col md:gap-1 gap-4">
          <h6>Що входить:</h6>
          <ul>
            <li>
              <p>{{ service.details.includes }}</p>
            </li>
          </ul>

          <div class="flex flex-col">
            <h6>Теми які ми розберемо:</h6>

            <ul>
              <li *ngFor="let detail of service.details.additional">
                <strong>{{ detail.key }}</strong> {{ detail.value }}
              </li>
            </ul>
          </div>

          <h6>Тривалість:</h6>
          <ul>
            <li>
              <p>{{ service.details.duration }}</p>
            </li>
          </ul>

          <h6>Умови:</h6>
          <ul>
            <li>
              {{ service.details.conditions || service.details.format }}
            </li>
          </ul>
          <p class="mt-3">
            <a
              class="active-button small my-services-button"
              (click)="openModal(service)"
            >
              Замовити <i class="fas fa-envelope ml-3"></i>
            </a>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- todo стилі з інлайну в шаред -->
  <div class="hidden md:flex">
    <img [src]="imageSrc" [alt]="'Вікторія Гонч - ' + title" class="photo" />
  </div>
</div>
