<div class="calculator mt-20" id="calendar-container">
  <h1 class="text-center">Ваш персональний каренар Сюцай на {{ year }} рік</h1>

  <h2 class="results-title text-center">Результати для {{ name }}</h2>

  <section class="user-info result-block">
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Дата народження:</strong> {{ birthdate }}</p>
  </section>

  <section class="result-block">
    <h4>Число свідомості:</h4>
    <h5>{{ conscious.num }} – {{ conscious.name }}</h5>
    <p><strong>Пояснення:</strong> {{ conscious.explanation }}</p>
    <p><strong>Порада:</strong> {{ conscious.advice }}</p>
    <p><strong>Приклад:</strong> {{ conscious.example }}</p>
  </section>

  <section class="result-block">
    <h4>Місія:</h4>
    <h5>{{ mission.num }} – {{ mission.name }}</h5>
    <p><strong>Пояснення:</strong> {{ mission.explanation }}</p>
    <p><strong>Порада:</strong> {{ mission.advice }}</p>
    <p><strong>Приклад:</strong> {{ mission.example }}</p>
  </section>

  <section class="result-block">
    <h4>Особистий рік:</h4>
    <h5>{{ personalYear.num }} – {{ personalYear.name }}</h5>
    <p><strong>Пояснення:</strong> {{ personalYear.explanation }}</p>
    <p><strong>Порада:</strong> {{ personalYear.advice }}</p>
    <p><strong>Приклад:</strong> {{ personalYear.example }}</p>
  </section>

  <section class="result-block">
    <h4>Число імені:</h4>
    <h5>{{ finalDigit.num }} – {{ finalDigit.name }}</h5>
    <p><strong>Пояснення:</strong> {{ finalDigit.explanation }}</p>
    <p><strong>Порада:</strong> {{ finalDigit.advice }}</p>
    <p><strong>Приклад:</strong> {{ finalDigit.example }}</p>
  </section>

  <section *ngIf="calendar.length">
    <h2>Календар Сюцай на {{ year }} рік</h2>

    <div class="week-legend mt-10">
      <h3>Пам’ятка по днях тижня</h3>
      <table>
        <tr>
          <th>День тижня</th>
          <th>Рекомендація</th>
          <th>Що слід робити</th>
          <th>Чого не слід робити</th>
        </tr>

        <tr>
          <td><strong>Понеділок</strong></td>
          <td>
            Важливо не перенапружуватися. Жінкам корисно займатися собою та
            «жіночими справами» (зустрічі з подругами, пригощання корисними
            солодощами). Чоловікам – зберігати емоційний спокій. Добре гуляти
            біля води, більше медитувати.
          </td>
          <td>
            Купувати речі, вступати в шлюб, приймати рішення на емоціях, шукати
            схвалення у жінок.
          </td>
          <td>
            Не ухвалювати складних рішень, не стригти волосся й нігті, бути
            стриманими.
          </td>
        </tr>

        <tr>
          <td><strong>Вівторок</strong></td>
          <td>
            День для спорту, єдиноборств, активних дій, ремонту, фізичної
            роботи, відновлення справ, операцій. Добре копати землю, відвідувати
            баню чи басейн. Негатив: гнів, з’ясування стосунків у роздратуванні.
          </td>
          <td>Судові процеси, лікування, спорт.</td>
          <td>
            Не починати нових справ, уникати подорожей, бути обережними в
            транспорті, уникати сварок.
          </td>
        </tr>

        <tr>
          <td><strong>Середа</strong></td>
          <td>
            Сприятливий день для торгівлі, купівлі-продажу, бізнес-зустрічей,
            підписання договорів, навчання, вивчення мов. Добре для спілкування,
            дружби, знайомств.
          </td>
          <td>
            Торгівля, бізнес, нові процеси, навчання, заводити друзів, весілля,
            публікації.
          </td>
          <td>
            Уникати конфліктів, стресів, брехні, надмірної серйозності та
            замкненості.
          </td>
        </tr>

        <tr>
          <td><strong>Четвер</strong></td>
          <td>
            Вдалий день для починань: весілля, бізнес, фінансові вкладення,
            банк, навчання, лекції. Добре для духовних практик і благодійності.
          </td>
          <td>Благодійність, пожертви, вища освіта, великі покупки.</td>
          <td>
            Не допускати гніву, жадібності, лінощів, брехні, легковажності.
          </td>
        </tr>

        <tr>
          <td><strong>П’ятниця</strong></td>
          <td>
            День свят, романтики, покупок прикрас і гарного одягу, творчості,
            відвідування концертів і виставок. Добре починати подорожі, ходити
            до салонів краси.
          </td>
          <td>Покупки, шлюб, гості, романтика, творчість.</td>
          <td>
            Не продавати дорогі речі, не складати заповіт, уникати смутку та
            самоаналізу.
          </td>
        </tr>

        <tr>
          <td><strong>Субота</strong></td>
          <td>
            День для відпочинку, посту, медитацій, усамітнення, аналізу,
            завершення справ. Рішення треба приймати виважено.
          </td>
          <td>Відпочинок, йога, медитації, домашні справи, робота з землею.</td>
          <td>
            Не перевтомлюватися, не стригти волосся і нігті, не братися за
            важливі справи.
          </td>
        </tr>

        <tr>
          <td><strong>Неділя</strong></td>
          <td>
            Активний день – рано вставати, реалізовувати бізнес-проєкти,
            зустрічатися з впливовими людьми. Добре бути на природі,
            наповнюватися енергією.
          </td>
          <td>
            Робота з золотом, міддю, деревом, шовком, вогнем. Насолоджуватися
            життям і сонцем.
          </td>
          <td>
            Не піддаватися его, не бути дріб’язковим чи бездіяльним, уникати
            брехні та жорстокості.
          </td>
        </tr>
      </table>
    </div>

    <div class="day-legend mt-10">
      <h6 class="month-title text-center">Пам’ятка по днях</h6>
      <table>
        <tr>
          <th>Тип дня</th>
          <th>Опис</th>
        </tr>
        <tr>
          <td><strong>Особистий день</strong></td>
          <td>
            Енергія дня показує, як ти почуватимешся цього дня, як будеш
            спілкуватися. Важливо для розуміння себе.
          </td>
        </tr>
        <tr>
          <td><strong>Загальний день</strong></td>
          <td>Енергія дня впливає на всіх людей, проєкти, справи та події.</td>
        </tr>
      </table>
    </div>

    <div class="energy-table">
      <h6 class="month-title text-center">
        Характеристика енергій днів і місяців
      </h6>
      <table>
        <tr>
          <th>№</th>
          <th>Назва</th>
          <th>Позитивні прояви</th>
          <th>Негативні прояви</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Початок циклу</td>
          <td>
            Час для всього нового. Початок справ і проєктів. Розвиток і прояв
            лідерських якостей. Важливо зберігати спокій і вибудовувати
            стратегію на 9-денний чи 9-місячний цикл.
          </td>
          <td>
            Боротьба за владу. Егоїзм і деспотизм. Не рекомендується підписувати
            договори. Можливе відчуття печії.
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Дипломатія</td>
          <td>
            Варто бути добрим дипломатом, будувати відносини через розуміння.
            Налагодження стосунків. Рекомендується рухатися, працювати, служити
            людям.
          </td>
          <td>
            Потрібна обережність у відносинах, можливий їх розрив. День сумнівів
            і депресії. Не найкращий час для прийняття рішень.
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Аналіз і успіх</td>
          <td>
            Енергія аналізу допомагає діяти. Сприятливий час для важливих
            рішень, договорів, покупок. Добрий день для операцій і медичних
            процедур.
          </td>
          <td>
            Жага наживи й вигоди може завести в азарт. Необхідно діяти через
            аналіз.
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Містика</td>
          <td>
            Важливо залишатися позитивним. Рекомендується здобувати знання,
            працювати над цілями й завданнями.
          </td>
          <td>
            Можливі втрати. Небажано починати нові проєкти, ухвалювати рішення
            чи підписувати договори.
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Комунікація</td>
          <td>
            Добрий час для знайомств, виступів, спілкування. Легко домовлятися.
          </td>
          <td>
            Може виникати боротьба, бажання діяти наперекір. Беспечність. Все
            таємне може стати явним. Не рекомендується підписувати договори.
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>Любов і успіх</td>
          <td>
            Успіх через любов і радість. Сприятливий день для рішень, договорів,
            покупок, початку великих проєктів.
          </td>
          <td>
            Можливі негативні емоції, загострення хронічних хвороб. Мстивість,
            лінь, надмірний комфорт.
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>Трансформація і криза</td>
          <td>
            Сприяє духовному росту, узгодженим змінам. Час для підняття енергії
            Кундаліні.
          </td>
          <td>
            Небажано починати нові справи — результат може обнулитися.
            Несприятливий час для договорів і важливих рішень.
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>Праця, матеріалізація й навчання</td>
          <td>
            Потрібно багато й наполегливо працювати. Сприятливий день для
            договорів, освоєння й застосування нових знань.
          </td>
          <td>
            Не варто відпочивати надмірно чи брати кредити. Можливий контроль,
            сумніви, недовіра до людей, лінь.
          </td>
        </tr>
        <tr>
          <td>9</td>
          <td>Завершення циклу</td>
          <td>
            Час завершувати справи. Добрий день для благодійності, служіння
            людям і суспільству.
          </td>
          <td>
            Слід контролювати емоції, уникати провокацій. Не приймати важливих
            рішень. Можливе очікування подяки від інших.
          </td>
        </tr>
      </table>
    </div>

    <div class="legend">
      <h6 class="month-title text-center">Позначення кольорів</h6>
      <table>
        <tr>
          <th>Тип</th>
          <th>Значення</th>
          <th>Колір</th>
        </tr>
        <tr>
          <td>Період</td>
          <td>Неблагополучний</td>
          <td class="bad-period"></td>
        </tr>
        <tr>
          <td>Період</td>
          <td>Благополучний</td>
          <td class="good-period"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Неблагополучний</td>
          <td class="bad"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Благополучний</td>
          <td class="good"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Нейтральний</td>
          <td class="neutral"></td>
        </tr>
      </table>
    </div>

    <div
      class="calendar"
      *ngFor="let month of calendar; let i = index"
      [id]="'month-' + i"
    >
      <h3 class="month-title- text-center">{{ month.name }}</h3>
      <div class="day-info w-full text-center">
        <small [className]="month.monthInfo[0].generalCls"
          >Загальний: {{ month.monthInfo[0].general }}</small
        ><br />
        <small [className]="month.monthInfo[0].personalCls"
          >Особистий: {{ month.monthInfo[0].personal }}</small
        >
      </div>
      <table>
        <thead>
          <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Нд</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of month.weeks">
            <td *ngFor="let day of week" [ngClass]="day?.cls + '-period'">
              <div class="day-num">{{ day?.val || "" }}</div>
              <div class="day-info" *ngIf="day">
                <small [className]="day.generalCls">З: {{ day.general }}</small
                ><br />
                <small [className]="day.personalCls"
                  >О: {{ day.personal }}</small
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="w-full flex items-center">
    <a
      class="primary-button"
      href="https://docs.google.com/forms/d/e/1FAIpQLSee_7tGKTMW34LiBBvmq9yfS2V3ko-FI_dpwWs-DzUPLNDC_Q/viewform?usp=header"
      >Залишити відгук \ скаргу \ пропозицію</a
    >
  </section>

  <button class="scroll-today primary-button" (click)="scrollToCurrentMonth()">
    <img
      style="transform: scale(2)"
      src="assets/icons/today.svg"
      alt="Прогорнути до сьогодні"
      class="mx-auto rounded-xl shadow-2xl transition hover:scale-[1.02] duration-300"
    />
  </button>

  <button class="download-pdf primary-button" (click)="downloadPDF()">
    <img
      style="transform: scale(2)"
      src="assets/icons/download.svg"
      alt="Скачати в pdf"
      class="mx-auto rounded-xl shadow-2xl transition hover:scale-[1.02] duration-300"
    />
  </button>
</div>
