<div class="calculator mt-20" id="calendar-container">
  <h1 class="text-center">Ваш персональний каренар Сюцай на {{ year }} рік</h1>

  <h2 class="results-title text-center">Результати для {{ name }}</h2>

  <section class="user-info result-block">
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Дата народження:</strong> {{ birthdate }}</p>
  </section>

  <section class="result-block">
    <h4>Число свідомості:</h4>
    <h5>{{ conscious.num }} – {{ conscious.name }}</h5>
    <p><strong>Пояснення:</strong> {{ conscious.explanation }}</p>
    <p><strong>Порада:</strong> {{ conscious.advice }}</p>
    <p><strong>Приклад:</strong> {{ conscious.example }}</p>
  </section>

  <section class="result-block">
    <h4>Місія:</h4>
    <h5>{{ mission.num }} – {{ mission.name }}</h5>
    <p><strong>Пояснення:</strong> {{ mission.explanation }}</p>
    <p><strong>Порада:</strong> {{ mission.advice }}</p>
    <p><strong>Приклад:</strong> {{ mission.example }}</p>
  </section>

  <section class="result-block">
    <h4>Особистий рік:</h4>
    <h5>{{ personalYear.num }} – {{ personalYear.name }}</h5>
    <p><strong>Пояснення:</strong> {{ personalYear.explanation }}</p>
    <p><strong>Порада:</strong> {{ personalYear.advice }}</p>
    <p><strong>Приклад:</strong> {{ personalYear.example }}</p>
  </section>

  <section class="result-block">
    <h4>Число імені:</h4>
    <h5>{{ finalDigit.num }} – {{ finalDigit.name }}</h5>
    <p><strong>Пояснення:</strong> {{ finalDigit.explanation }}</p>
    <p><strong>Порада:</strong> {{ finalDigit.advice }}</p>
    <p><strong>Приклад:</strong> {{ finalDigit.example }}</p>
  </section>

  <section *ngIf="calendar.length">
    <h2>Календар Сюцай на {{ year }} рік</h2>

    <app-week-legend-accordion />

    <app-energy-accordion />

    <div class="legend">
      <h6 class="month-title text-center">Позначення кольорів</h6>
      <table>
        <tr>
          <th>Тип</th>
          <th>Значення</th>
          <th>Колір</th>
        </tr>
        <tr>
          <td>Період</td>
          <td>Неблагополучний</td>
          <td class="bad-period"></td>
        </tr>
        <tr>
          <td>Період</td>
          <td>Благополучний</td>
          <td class="good-period"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Неблагополучний</td>
          <td class="bad"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Благополучний</td>
          <td class="good"></td>
        </tr>
        <tr>
          <td>День</td>
          <td>Нейтральний</td>
          <td class="neutral"></td>
        </tr>
      </table>
    </div>

    <div class="day-legend mt-10">
      <h6 class="month-title text-center">Пам’ятка по днях</h6>
      <table>
        <tr>
          <th>Тип дня</th>
          <th>Опис</th>
        </tr>
        <tr>
          <td><strong>Загальний день</strong></td>
          <td>Енергія дня впливає на всіх людей, проєкти, справи та події.</td>
        </tr>
        <tr>
          <td><strong>Особистий день</strong></td>
          <td>
            Енергія дня показує, як ти почуватимешся цього дня, як будеш
            спілкуватися. Важливо для розуміння себе.
          </td>
        </tr>
      </table>
    </div>

    <div
      class="calendar month-page"
      *ngFor="let month of calendar; let i = index"
      [id]="'month-' + i"
    >
      <h3 class="month-title- text-center">{{ month.name }}</h3>
      <div class="day-info w-full text-center">
        <small [className]="month.monthInfo[0].generalCls"
          >Загальний: {{ month.monthInfo[0].general }}</small
        ><br />
        <small [className]="month.monthInfo[0].personalCls"
          >Особистий: {{ month.monthInfo[0].personal }}</small
        >
      </div>
      <table>
        <thead>
          <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Нд</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of month.weeks">
            <td *ngFor="let day of week" [ngClass]="day?.cls + '-period'">
              <div class="day-num">{{ day?.val || "" }}</div>
              <div class="day-info" *ngIf="day">
                <small [className]="day.generalCls">З: {{ day.general }}</small
                ><br />
                <small [className]="day.personalCls"
                  >О: {{ day.personal }}</small
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<section class="w-full flex items-center">
  <a
    class="primary-button"
    href="https://docs.google.com/forms/d/e/1FAIpQLSee_7tGKTMW34LiBBvmq9yfS2V3ko-FI_dpwWs-DzUPLNDC_Q/viewform?usp=header"
    >Залишити відгук \ скаргу \ пропозицію</a
  >
</section>

<button class="scroll-today primary-button" (click)="scrollToCurrentMonth()">
  <img
    style="transform: scale(2)"
    src="assets/icons/today.svg"
    alt="Прогорнути до сьогодні"
    class="mx-auto rounded-xl shadow-2xl transition hover:scale-[1.02] duration-300"
  />
</button>

<button class="download-pdf primary-button" (click)="downloadPDF()">
  <img
    style="transform: scale(2)"
    src="assets/icons/download.svg"
    alt="Скачати в pdf"
    class="mx-auto rounded-xl shadow-2xl transition hover:scale-[1.02] duration-300"
  />
</button>
