.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  cursor: grab;
}

.marquee {
  display: flex;
  animation: marquee linear infinite;
  animation-play-state: running;
  margin-left: 50%;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

.link-button {
  padding: 0 20px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  margin-right: 180px;
}

@keyframes marquee {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}
