<section class="container">
  <h2 class="w-full md:hidden block">Сумісність за матрицею долі</h2>

  <div class="wrapper wrapper__grid">
    <div class="about-photo">
      <img
        src="assets/img/парні матриці.svg"
        style="
          /* width: 100%; */
          max-width: 600px;
          object-fit: cover;
          border-radius: 0.5rem;
          mix-blend-mode: multiply;
        "
        alt="Viktorie Honč"
      />
    </div>

    <div class="about-text">
      <h2 class="w-full hidden md:block">Сумісність за матрицею долі</h2>

      <ul style="padding-left: 1.5rem; list-style-type: disc; color: #4a4a4a">
        <li>
          Матриця сумісності поєднує в собі нумерологію та Таро, спираючись на
          22 старших аркани Таро і розрахунок дати народження партнерів. Цей
          метод дозволяє побачити повну картину стосунків та з високою точністю
          оцінити їхню перспективу.
        </li>
        <li>
          Сумісність за матрицею долі допомагає визначити, чи є ваш партнер тією
          людиною, з якою ви зможете побудувати щасливе майбутнє, або ж це лише
          тимчасовий супутник, стосунки з яким не принесуть гармонії.
        </li>
        <li>
          Розрахунок сумісності здійснюється за датами народження обох
          партнерів, а для глибшого аналізу враховується також місце народження.
          Зіставлення двох матриць показує, наскільки ваші енергії гармоніюють і
          які аспекти стосунків потребують уваги.
        </li>
      </ul>

      <a class="primary-button to-matrix2 mt-5" routerLink="/sumistnist">
        Розрахувати сумісність <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section>
