<div id="старт" >
  <app-hiro />
</div>

<div id="про-мене" class="scroll-mt-10 md:scroll-mt-20">
  <app-about-me />
</div>

<div id="про-матрицю-долі" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <app-about-matrix />
</div>

<div class="mt-10" id="матриця-долі" class="scroll-mt-2 md:scroll-mt-5">
  <!-- <app-matrix-calculator /> -->
</div>

<!-- <div id="мої-послуги" class="scroll-mt-20">
  <app-my-services />
</div> -->

<!-- <div id="етапии-роботи" class="scroll-mt-20">
  <app-etaps />
</div> -->

<div id="відгуки" class="scroll-mt-10 md:scroll-mt-24">
  <app-reviews />
</div>

<div id="запланувати-зустріч" class="scroll-mt-10 md:scroll-mt-20">
  <!-- <app-calendly-widget /> -->
</div>

<div id="контакти" class="scroll-mt-10 md:scroll-mt-20">
  <app-contact-form />
</div>
