<div id="старт">
  <ng-container *ngComponentOutlet="heroComponent"></ng-container>
</div>

<div id="про-мене" class="scroll-mt-10 md:scroll-mt-20">
  <ng-container *ngComponentOutlet="aboutMeComponent"></ng-container>
</div>

<div id="мої-послуги" class="scroll-mt-20">
  <ng-container *ngComponentOutlet="myAllServicesComponent"></ng-container>
</div>

<div id="про-матрицю-долі" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <ng-container *ngComponentOutlet="aboutMatrixComponent"></ng-container>
</div>

<div id="про-сумістність" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <ng-container *ngComponentOutlet="aboutSumistnistComponent"></ng-container>
</div>

<div id="про-квадрат-піфагора" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <ng-container *ngComponentOutlet="aboutPifagorComponent"></ng-container>
</div>

<div id="відгуки" class="scroll-mt-10 md:scroll-mt-24">
  <ng-container *ngComponentOutlet="reviewsComponent"></ng-container>
</div>

<div id="контакти" class="scroll-mt-10 md:scroll-mt-20">
  <ng-container *ngComponentOutlet="contactsComponent"></ng-container>
</div>
