<div id="старт">
  <app-hero />
</div>

<app-about-calendar />

<div id="мої-послуги" class="scroll-mt-20">
  <app-my-all-services />
</div>

<div id="відгуки" class="scroll-mt-10 md:scroll-mt-24">
  <app-reviews />
</div>

<div id="про-мене" class="scroll-mt-10 md:scroll-mt-20">
  <app-about-me />
</div>

<div id="про-матрицю-долі" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <app-about-matrix />
</div>

<div id="про-сумістність" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <app-about-sumistnist />
</div>

<div id="про-квадрат-піфагора" class="scroll-mt-10 md:scroll-mt-[8.25rem]">
  <app-about-pifagor />
</div>

<div id="запланувати-зустріч" class="scroll-mt-10 md:scroll-mt-20">
  <app-calendly-widget />
</div>

<div id="контакти" class="scroll-mt-10 md:scroll-mt-20">
  <app-contacts />
</div>

<app-news-popup />
