<!-- <div class="container2 ">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide-content">ЕКСПЕРТ З МАТРИЦІ ДОЛІ</div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-content">ТЕТА ХІЛЕР</div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-content">НУМЕРОЛОГ</div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-content">БЛОГЕР</div>
    </ng-template>
  </owl-carousel-o>

</div> -->
