::ng-deep .my-all-services .owl-stage-outer{
  position: relative;
}

::ng-deep .my-all-services .owl-nav {
  max-width: none;
  width: 80%;
  // position: absolute;
  // top: 90%;
  margin: auto;

  // left: 50%;
  // transform: translateX(-50%);
}

::ng-deep .my-all-services .owl-prev {
  position: absolute;
  top: -250%;
  left: 0;
}

::ng-deep .my-all-services .owl-next {
  position: absolute;
  top: -250%;
  right: 0;
}
