<section class="matrix-section container darker">
  <div class="wrapper matrix-container grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="matrix-text col-span-1">
      <h2>Що таке Матриця Долі?</h2>
      <ul>
        <li>
          <b>Матриця долі</b> – це система самопізнання, яка заснована на певних
          розрахунках і дозволяє глибоко зрозуміти свою сутність. Важливо
          підкреслити, що цей метод не має нічого спільного з ворожіннями чи
          передбаченнями. Він дає нам можливість заглянути вглиб себе, відкриваючи
          ті ресурси та якості, які можуть допомогти нам у житті.
        </li>
        <li>
          Згідно з філософією методу, кожна людина – це безсмертна душа, яка
          приходить на землю з життя в життя, щоб самовдосконалюватися та
          виконувати свої унікальні завдання. Матриця долі – це інструмент, що
          допомагає краще зрозуміти себе, розкрити свій потенціал і визначити, в
          якому напрямку варто рухатися.
        </li>
      </ul>
    </div>
    <div class="matrix-photo col-span-1">
      <img
        src="./img/matrix.jpg"
        alt="Matrix of Destiny"
        style="
          width: 100%;
          height: 700px;
          object-fit: cover;
          border-radius: 0.5rem;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        "
      />
    </div>
  </div>
</section>
