.matrix-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.matrix-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .matrix-container {
    grid-template-columns: 1fr 1fr;
  }
}
