@import '../../../../shared/scss/variables.scss';

.matrix-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-height: 100dvh;

  // TODO винести логіку в враппери
  @media (max-width: $media-tablet) {
    max-height: fit-content;
  }
}

.matrix-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.matrix-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .matrix-container {
    grid-template-columns: 1fr 1fr;
  }
}
