<section class="container">
  <div class="wrapper">
    <h2>Зв'язатись</h2>

    <div class="contacts-container flex-col-reverse md:flex-row gap-4">
      <div class="side contacts box">
        <h4>Контакти</h4>
        <ul
          class="space-y-3 mt-8 md:w-[200px] flex justify-center items-center flex-col md:block"
        >
          <li>
            <a
              href="https://t.me/viktorika7"
              target="_blank"
              class="link-button flex items-center text-gray-600 hover:text-blue-500"
            >
              <i class="fab fa-telegram-plane text-xl mr-3"></i> Telegram
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/viktorika7/"
              target="_blank"
              class="link-button flex items-center text-gray-600 hover:text-pink-500"
            >
              <i class="fab fa-instagram text-xl mr-3"></i> Instagram
            </a>
          </li>

          <li>
            <a
              href="https://wa.me/420777557089"
              class="link-button flex items-center text-gray-600 hover:text-green-500"
              target="_blank"
            >
              <i class="fab fa-whatsapp text-xl mr-3"></i> WhatsApp
            </a>
          </li>

          <li>
            <a
              href="viber://chat?number=%2B420777557089"
              class="link-button flex items-center text-gray-600 hover:text-green-500"
              target="_blank"
            >
              <i class="fab fa-viber text-xl mr-3"></i> Viber
            </a>
          </li>

          <li>
            <a
              href="mailto:admin@viktoriehonc.com.ua"
              class="link-button flex items-center text-gray-600 hover:text-pink-500"
            >
              <i class="fas fa-envelope text-xl mr-3"></i>
              {{ "admin@viktoriehonc.com.ua" }}
            </a>
          </li>
          <li>
            <a
              href="tel:+420777557089"
              class="link-button flex items-center text-gray-600 hover:text-green-500"
            >
              <i class="fas fa-phone-alt text-xl mr-3"></i> +420 777 557 089
            </a>
          </li>
        </ul>
      </div>

      <div class="side contact-form-container">
        <app-contact-form />
      </div>
    </div>
  </div>
</section>
