/* Загальні стилі для списків */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Стилі для елементів списку */
ul li {
  position: relative;
  padding-left: 25px; /* Додаємо відступ зліва для маркера */
  margin-bottom: 10px; /* Відстань між елементами списку */
  font-size: 1rem; /* Розмір шрифту */
  line-height: 1.5; /* Міжрядковий інтервал */
  color: #333; /* Колір тексту */
}

// /* Додавання індикаторів до елементів списку */
// ul.regalies li::before,
// ul.principles li::before,
// ul.benefits-list li::before{
//   content: '-';
//   // content: '★';
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%); /* Центрування */
//   font-size: 1.2rem; /* Розмір символу */
//   color: #F0A500; /* Колір маркера */
// }

// ul.regalies li::before{
//   content: '-';
// }
/* Стиль для заголовків в списках */
ul.regalies,
ul.principles {
  padding-left: 20px; /* Додаємо відступ зліва */
}

ul.regalies li {
  font-style: italic; /* Курсив для списку regalies */
}

ul.principles li {
  font-weight: bold; /* Жирний текст для списку principles */
}
