<section class="container min-h-[100vh] pt-24">
  <h2 class="text-center">
    Гра «Ліла»: <br />
    Подорож до Себе
  </h2>

  <div class="flex flex-col gap-10">
    <app-section-grid
      [images]="[{ src: 'assets/img/lila/1.jpg', alt: 'Ліла гра' }]"
      textPosition="left"
    >
      <h3>Що таке «Ліла»?</h3>
      <p>
        <strong>«Ліла»</strong> – це <strong>давня сакральна гра</strong>, яка
        допомагає з<strong>найти відповіді</strong> на важливі життєві питання,
        побачити <strong>приховані сценарії</strong> та
        <strong>розкрити нові можливості</strong>. Це не просто розвага, а
        <strong>потужний інструмент самопізнання</strong>, що працює через
        взаємодію з <strong>підсвідомістю та вищими силами</strong>.
      </p>
    </app-section-grid>

    <app-section-grid
      [images]="[{ src: 'assets/img/lila/2.jpg', alt: 'Фото 3' }]"
      textPosition="right"
    >
      <h3>Що ви отримаєте під час гри?</h3>
      <ul class="benefits-list">
        <li>
          <strong>Глибоке усвідомлення себе</strong> – ви зрозумієте, які
          процеси відбуваються у вашому житті та їх причини.
        </li>
        <li>
          <strong>Відповіді на важливі питання</strong> – гра допоможе знайти
          рішення та побачити справжні причини труднощів.
        </li>
        <li>
          <strong>Розуміння внутрішніх блоків</strong> – ви побачите обмеження,
          що заважають розвитку, і знайдете способи їх подолати.
        </li>
        <li>
          <strong>Підказки для дій</strong> – гра вкаже напрямок і конкретні
          кроки для досягнення бажаного.
        </li>
        <li>
          <strong>Енергію та натхнення</strong> – після гри ви відчуєте
          внутрішню силу, ясність і легкість у прийнятті рішень.
        </li>
      </ul>
    </app-section-grid>

    <app-section-grid
      [images]="[{ src: 'assets/img/lila/3.jpg', alt: 'Вікторія Гонч' }]"
      textPosition="left"
    >
      <h3>Як проходить гра в онлайні?</h3>
      <p>
        Гра проходить в комфортному <strong>онлайн-форматі</strong> через
        відеозв'язок. Ви отримаєте <strong>персональне ведення</strong>,
        <strong>глибоку аналітику</strong> та
        <strong>інтуїтивні підказки</strong>, які
        <strong>допоможуть розкласти все по поличках</strong>. Завдяки
        інтерактивному процесу ви переживете
        <span>унікальну подорож до себе</span>, де кожен крок веде
        <strong>до нових відкриттів</strong>.
      </p>
      <p>
        Це <strong>можливість зупинитися</strong> , поглянути на своє життя з
        боку та отримати цінні відповіді, яких
        <span> не знайдеш у буденному житті.</span>
      </p>

      <button
        class="active-button small mt-8"
        (click)="openModal('Я хочу записатись на Лілу!')"
      >
        Я хочу записатись на "Лілу"!
      </button>
    </app-section-grid>
  </div>
</section>

<!-- Секція 2: Основні принципи гри -->
<section>
  <app-section-grid
    [images]="[{ src: 'assets/img/lila/6.png', alt: 'Як грати в гру Ліла' }]"
    textPosition="right"
  >
    <div class="flex flex-col gap-10">
      <h3>
        Щоб зрозуміти призначення гри «Ліла», ознайомтесь з її основними
        принципами:
      </h3>

      <ul class="principles">
        <li>
          Ігрове поле складається з <strong>72 квадратів (полів)</strong>, кожен
          з яких символізує певний стан людської свідомості.
        </li>
        <li>
          Гра починається та завершується у полі
          <strong>«космічної свідомості»</strong>, вишуканому світі.
        </li>
        <li>
          Душа людини вирішує втілитися, щоб отримати новий досвід життя в тілі.
        </li>
        <li>
          Правильно сформульоване завдання (<strong>мета, намір</strong>)
          створює умови для народження душі.
        </li>
        <li>
          Людина рухається ігровим полем, досліджуючи
          <strong>концепції, ідеї та поняття</strong>.
        </li>
        <li>
          Здобувши необхідний досвід і знайшовши відповіді, вона повертається до
          поля <strong>«космічної свідомості»</strong>.
        </li>
      </ul>
    </div>
  </app-section-grid>
</section>

<section>
  <app-section-grid
    [images]="[{ src: 'assets/img/lila/5.jpg', alt: 'Фото 1' }]"
    textPosition="left"
  >
    <div class="flex flex-col gap-10">
      <h3>
        Відчуйте магію гри «Ліла» та дозвольте собі рухатися до нових
        можливостей!
      </h3>
      <ul class="regalies">
        <li>Усвідомити свої справжні цілі.</li>
        <li>Побачити, що блокує твій розвиток.</li>
        <li>Знайти нові рішення та ресурси для змін.</li>
      </ul>
      <button
        class="active-button small"
        (click)="openModal('Я хочу записатись на гру Ліла')"
      >
        Записатись на гру
      </button>
    </div>
  </app-section-grid>
</section>

<app-my-all-services [activeTab]="2" />

<app-reviews />

<app-contacts />
