.sub-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  width: max-content;
  top: 3px;
  left: -10px;
  pointer-events: none;
  transition: .3s;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.link-button {
  &:hover .sub-navigation {
    pointer-events: all;
    opacity: 1;
  }
}
