<div class="flex flex-col md:flex-row gap-4">
  <nav
    [ngClass]="getNavClassList()"
    class="md:flex flex-col md:flex-row md:bg-transparent p-4 md:p-0"
  >
    <a
      *ngFor="let route of routes"
      class="link-button flex flex-col md:w-auto w-full"
      routerLinkActive="active"
    >
    <b class="cursor-pointer hidden md:block" [routerLink]="route.path">{{ route.label }}</b>
    @if (!route.subMenu) {
      <b class="cursor-pointer font-bold md:font-light md:hidden" [routerLink]="route.path">{{ route.label }}</b>
    }
      <!-- Акордеон підменю -->
      @if (route.subMenu) {
      <div class="relative" >
        <button
          class="text-left w-full md:hidden flex justify-between items-center"
          (click)="toggleSubMenu(route.label, $event)"
        >
          <b>{{ route.label }}</b>
          <span [class.rotate-180]="isSubMenuOpen(route.label)">▼</span>
        </button>

        <nav
          class="sub-navigation flex md:bg-black relative md:absolute transition-all duration-300"
          [ngClass]="{
            'md:opacity-0 md:pointer-events-none': !isSubMenuOpen(route.label),
            'opacity-100 max-h-1 md:max-h-auto overflow-hidden hidden md:flex': isSubMenuOpen(route.label)
          }"
        >
          @for (subRoute of route.subMenu; track $index) {
          <a
            [routerLink]="subRoute.path"
            class="link-button block md:inline-block p-2"
            (click)="closeMenuOnSelect()"
          >
            {{ subRoute.label }}
          </a>
          }
        </nav>
      </div>
      }
    </a>
  </nav>
</div>
