<div class="flex flex-col md:flex-row gap-4">
  <nav [ngClass]="getNavClassList()">
    <a
      *ngFor="let route of routes"
      class="link-button"
      routerLinkActive="active"
    >
      <b class="cursor-pointer" [routerLink]="route.path">{{
        route.label
      }}</b>

      @if (route.subMenu){
      <div class="relative">
        <nav
          class="sub-navigation md:bg-black relative md:absolute md:opacity-0 opacity-100"
        >
          @for (subRoute of route.subMenu; track $index) {
            @if
          (route.subMenuRoutePrefix) {
          <a
            [href]="route.subMenuRoutePrefix + subRoute.path"
            class="link-button"
          >
            {{ subRoute.label }}
          </a>
          } @else {
          <a [routerLink]="subRoute.path" class="link-button">
            {{ subRoute.label }}
          </a>
          }
        }
        </nav>
      </div>
      }
    </a>
  </nav>
</div>
