<section class="container">
    <h2 class="w-full md:hidden block">Послуги</h2>

    <div class="wrapper wrapper__grid">


      <div class="about-text">
        <h2 class="w-full hidden md:block">Мої послуги</h2>

        <mat-accordion class="custom-accordion">
          <mat-expansion-panel *ngFor="let service of services" class="custom-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ service.title }} - {{ service.price }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>Що входить:</strong> {{ service.details.includes }}</p>
            <p><strong>Тривалість:</strong> {{ service.details.duration }}</p>
            <p><strong>Умови:</strong> {{ service.details.conditions || service.details.format }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="about-photo">
        <img src="assets/img/img_2.jpg" alt="Viktorie Honč" />
      </div>
    </div>
  </section>
