<section class="matrix-section container darker">
  <div class="wrapper wrapper__grid">
    <div class="about-text col-span-1">
      <h2>Що таке Квадрат Піфагора?</h2>
      <ul>
        <li>
          <b>Квадрат Піфагора</b> – це інструмент самопізнання, який базується на числових розрахунках. Він допомагає виявити ваші сильні та слабкі сторони, приховані таланти, а також дізнатися, як ваша дата народження впливає на різні аспекти життя.
        </li>
        <li>
          Психоматриця містить інформацію про вашу вроджену енергію, творчі та розумові здібності, здоров’я, а також відношення до сім’ї, оточення, матеріальних і духовних цінностей. Це своєрідна карта вашої особистості, яка дозволяє зазирнути вглиб себе та зрозуміти, як покращити ті чи інші якості.
        </li>
        <li>
          Важливо зазначити, що дані в Квадраті Піфагора не є вироком. Більшість показників можна змінити, працюючи над собою. За допомогою спеціальних технік ви зможете "прокачати" слабкі сторони або оптимізувати енергетичні зони для досягнення гармонії.
        </li>
      </ul>

      <a class="primary-button mt-5" routerLink="/pifagor">
        Мій квадрат Піфагора <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
    <div class="matrix-photo col-span-1">
      <img
        src="assets/img/піфагор.svg"
        alt="Psychomatrix"
        style="
          width: 100%;
          max-width: 600px;
          object-fit: cover;
          border-radius: 0.5rem;
          mix-blend-mode: multiply;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        "
        class="h-[300px] md:h-[600px]"
      />
    </div>
  </div>
</section>
