<section class="container">
  <h2 class="w-full md:hidden block">Про Сюцай</h2>

  <div class="wrapper wrapper__grid pr-2">
    <!-- Фото -->
    <div class="about-photo">
      <img
        [src]="'assets/img/syuczaj.jpg'"
        alt="Сюцай"
      />
    </div>

    <!-- Текст -->
    <div class="about-text">
      <h2 class="w-full hidden md:block">Про Сюцай</h2>

      <p class="text-gray-700 leading-relaxed mb-5 max-w-[420px]">
        <b>Сюцай</b> — це <b>система знань</b>, яка досліджує
        <b>вплив часу</b> та <b>дат</b> на <b>події</b> в житті людини. Вона
        допомагає <b>аналізувати особисті та ділові цикли</b>, визначати
        <b>сприятливі дні</b> для <b>важливих рішень</b>, планувати
        <b>події та проекти</b>, а також передбачати <b>потенційні труднощі</b>.
        Використання <b>Сюцай</b> дозволяє
        <b>приймати більш обґрунтовані рішення</b> на основі
        <b>календарних і часових закономірностей</b>.
      </p>

      <a class="primary-button mt-5" routerLink="/suicai">
        Детальніше про Сюцай <b><i class="fas fa-arrow-right"></i></b>
      </a>
    </div>
  </div>
</section>
