
.button-section{
  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #26663b;
    font-size: 20px;
    animation: rotateText 8s linear infinite;
  }

  #circle {
    fill: none;
    stroke-width: 8px;
    stroke: url(#grad);
  }

  #textPath {
    fill: none;
  }

  @keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
