<section class="button-section">
  <div class="flex justify-center items-center min-h-[80vh]">
    <a
      class="circle-button"
      href="https://app.simplymeet.me/viktorie-honch"
      target="_blank"
    >
    <svg width="250" height="250" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path id="circlePath" d="M125,125 m-95,0 a95,95 0 1,0 190,0 a95,95 0 1,0 -190,0" />
      </defs>
      <text font-size="21" fill="black">
        <textPath href="#circlePath" startOffset="0">
          Записатись на консультацію * Записатись на консультацію *
        </textPath>
      </text>
    </svg>


    </a>
  </div>
</section>
