<header class="md:p-4 p-1 relative dark">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="text-xl font-semibold">
      <a [routerLink]="['/routePath']">
        <img src="assets/logo-short.svg" alt="Logo" class="h-14" />
      </a>
    </div>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-6">
      <app-navigation />
    </nav>

    <!-- Burger Icon for Mobile/Tablet -->
    <div class="md:hidden" (click)="toggleMobileMenu()">
      <button id="burger" class="text-white px-3">
        <div [innerHTML]="svg['mobile-menu']"></div>
      </button>
    </div>
  </div>
</header>

<!-- Mobile Navigation -->
<div
  class="mobile-menu-container md:hidden p-4"
  [class.active]="isMobileMenuOpen"
  (click)="toggleMobileMenu()"
>
  <img src="assets/logo.svg" alt="Logo" class="w-[200px]" />

  <div class="close-button">
    <div [innerHTML]="svg['close']"></div>
  </div>

  <app-navigation navClass="flex-col justify-center" />
</div>
