@import '../../../shared/scss/variables.scss';

header {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $dark-gray;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $header-lg-height;

  @media (max-width: $media-netbook) {
    height: $header-md-height;
  }

  @media (max-width: $media-tablet) {
    height: $header-sm-height;
  }
}

.mobile-menu-container {
  width: 100%;
  height: 100vh;
  background-color: rgba($secondary-color, .95);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 100;
  right: -100%;
  top: 0;
  transition: .3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  overflow: scroll;

  &.active {
    right: 0;
  }

  .close-button{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
